.container {
    width: 100%;
    background-color: grey;
}

.rezultat{
    background-color: green;
    width: 100%;
    
  
    
}

.unosDatuma input{
   
    margin-top: 10px;


}
 .flex{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 input{
     text-align: center;
 }