.container {
    width: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rezultat{
    display: flex;
    background-color: green;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}